/** main page container **/
.container {
  display: flex;
  max-width: 90%;
  padding-top: 5em;
  margin: auto;
}

.column {
  flex-direction: column;
}

.demos-photo-grid {
  flex-flow: row wrap;
  justify-content: space-around;
}



.demos-split {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  @media screen and (min-width: 800px) {
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

}

.demos-split--item {
  flex: 1;
  max-width: 100%
}

/** The figure element wrapping our images and anchor tags for our lightbox **/
//.lightbox-figure {
//  display: flex;
//  align-content: center;
//  justify-content: center;
//  @media screen and (min-width: 530px) {
//      width: 20%;
//  }
//}

.lightbox-figure {
  @media screen and (min-width: 530px) {
    flex: 0 0 25%;
  }
}


/** The actual image that is show on load ( the thumbnail ) */
img {
  object-fit: contain;
  max-height: 260px;
}

// navigation
.quick-nav {
  li {
    margin-bottom: 1.25em;
  }
}

.page-nav {
  color: #4a4a4a;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #05182a;
    text-decoration: underline;
  }
}

.no-bullet {

  list-style: none;
}

.numbered {
  counter-reset: list-code-example;
}
.list-code-example:before {
  counter-increment: list-code-example;
  content: counter(list-code-example) ". ";
}

// For the background image example introduce
// May 2020
//.lazyload-bg {
//  margin: 16px 40px;
//  height: 260px;
//  width: 100%;
//  background-image: url("../../img/dry-tortuga-np-lq-340w.jpg");
//  background-repeat: no-repeat;
//  background-size: contain;
//  /*background-position: center center;*/
//}

.lazyload-bg > p {
  padding-top: 70%;
}

.lazyload-bg.visible {
  background-image: url("../../img/dry-tortuga-np-340w.jpg");
}